//project styles

html {
    font-size: $baseFontSize;

    @include tablets {
        font-size: $baseFontSize - 1px;
    }

    @include phones {
        font-size: 2vmax;
    }
}

body {
    font-family:'Alegreya Sans', Helvetica, sans-serif;
    line-height: 1.42;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $gray;
}

.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.maincontent {
    height: 100%;
    transition: transform 0.45s;
}

.container {
    width: 95%;
    max-width: $containerWidth;
    margin: 0 auto;
}

//tag styles reset

*{
    box-sizing: border-box;
}

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
    white-space: nowrap;
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
}

ul, p {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}

img {
    display: block;
    max-width: 100%;
}

input, textarea {
    outline: none;
}