.socials {
    display: flex;
    align-items: center;
}

.socials__link {
    display: block;
    width: rem(20px);
    height: rem(20px);
}

.socials__item {
    margin-right: rem(14px);

    &:last-child {
        margin-right: 0;
    }
}

.socials__link-svg {
    fill: #B3B3B3;

    &:hover {
        fill: $black;
    }
}